#main {
    min-height: 1000px;
    width: 100%;  
    background-size: cover;
}

#about_cinema {
    width: 500px;   
    color: white;
    padding: 40px;
    margin-left: 40px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

h1 {
    padding-bottom: 40px;
}

#main_header {
    height: 110px;   
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header_list, li {  
    padding: 10px;
    margin-top: 10px;
    font-size: 22px;
    color: D9D9D9;
    list-style-type: none;
}

#copyright {
    height: 10px;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}

#footer {
    padding-top: 0;
    padding-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 80px;
}

button {
    background-color: rgb(113, 8, 8);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: aliceblue;
    padding: 10px;   
}

#head {    
    color:rgb(113, 8, 8);
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8px; 
}

li {
    padding-top: 4px;
    margin-top: 0;
}

