body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

a {
  list-style-type: none;
}

.navbar-link {
  color: white !important;
}

.cursor-state {
  cursor: pointer;
}

.align-right {
  text-align: right;
}
.add-page {
  min-height: 1000px;
  width: 100%;  
  background-size: cover;
}

.result {
  width: 300px;
  padding-top: 10px;
  margin-top: 20px;
}
 
.movie-item:hover {
  border: 1px red solid;
}

.movie:hover {
  opacity: 50%;
  transform: scale(1.1);
}
